@use '../../styles/globals.scss';
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: globals.$golden-brown;
  border-radius: 2px;
  top: 15px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  position: relative;
  background-color: inherit;
  width: 50%;
  display: flex;
  justify-content: center;
  // margin-bottom: 100px;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -16px;
  background-color: globals.$black1;
  border: 4px solid globals.$golden-brown;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}




/* Place the container to the left */
.container:nth-child(even) {
  left: 0;
  h2 {
    text-align: right;
  }
  a {
    align-self: flex-end;
  }
}

/* Place the container to the right */
.container:nth-child(odd) {
  left: 50%;
  p {
  }
}

/* Add arrows to the left container (pointing right) */
.container:nth-child(even)::before {
  content: " ";
  height: 4px;
  position: absolute;
  top: 30px;
  width: 100px;
  border-radius: 2px;
  z-index: 1;
  right: 15px;
  background: globals.$golden-brown;
  // border: medium solid globals.$golden-brown;
  // border-width: 10px 0 10px 10px;
  // border-color: transparent transparent transparent globals.$golden-brown;
}

/* Add arrows to the right container (pointing left) */
.container:nth-child(odd)::before {
  content: " ";
  height: 4px;
  position: absolute;
  top: 30px;
  width: 100px;
  border-radius: 2px;
  z-index: 1;
  left: 15px;
  background: globals.$golden-brown;
  // border: 2px solid globals.$golden-brown;
  // border-width: 10px 10px 10px 0px;
  // border-color: transparent globals.$golden-brown transparent transparent;
}

/* Fix the circle for containers on the right side */
.container:nth-child(odd)::after {
  left: -17px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: transparent;
  position: relative;
  border-radius: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  font-family: globals.$primary-font;
  align-items: center;

  h2 {

  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
/* @media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .container:nth-child(odd)::after, .container:nth-child(even)::after {
    left: 15px;
  }

  .container:nth-child(even) {
    left: 0%;
  }
} */