@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&display=swap');


//fonts
$header-font: 'Limelight', sans-serif;
$primary-font: 'Linden Hill', sans-serif;
$font-size-l: 36px;

// colors
$light-brown: #FFE9BF;
$medium-brown: #D29E62;
$dark-brown: #695E48;
$golden-brown: #C7BD8D;
$black1: #1F1F1F;
$black2: #151515;
$white: #F5F5F5;
