@use '../../styles/globals.scss';

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  h2 {
    margin: -25px 50px 0 50px;
    font-size: 24px;
    font-weight: 400;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    align-self: center;
  }
  p {
    
  }
  a{
    text-decoration: underline;
    color: globals.$white;
  }
}

.infoCard:nth-child(odd) {
}
.infoCard:nth-child(even) {
}