@use '../../styles/globals.scss';

.headerStyle {
  position: relative;
  width: 100%;
  img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .hgroupContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: globals.$black1;
    width: 70vw;
    height: 40vh;
    border: 16px solid globals.$dark-brown;
    .circleContainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
        
      }
      hgroup {
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: center;
        color: globals.$golden-brown;
        width: 50%;
        h2 {
          font-family: globals.$header-font;
          font-weight: 400;
          font-size: 64px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          vertical-align: middle;

        }
        h4 {
          font-family: globals.$primary-font;
          font-size: 24px;
          font-weight: 400;
          font-size: 24px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          vertical-align: middle;
        }
      }
  }
}


.circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: globals.$golden-brown;
        position: absolute;
        transform: translate(-50%, -50%);

}
      
      .circle:nth-child(1) {
        top: 24px;
        left: 24px;
      }
      .circle:nth-child(2) {
        top: 24px;
        right: -6px;
        // whaat
      }
      .circle:nth-child(3) {
        bottom: -6px;
        left: 24px;
      }
      .circle:nth-child(4) {
        bottom: -6px;
        right: -6px;
      }
      

@media (max-width: 768px) {
  .headerStyle {
    img {
      height: 400px;
    }
    .hgroupContainer {
      width: 90vw;
      height: 30vh;
      .hgroup {
        width: 100%;
        h2 {
          font-size: 16px;
        }
        h4 {
          font-size: 12px;
        }
      }
    }
  }
}