@use '../../styles/globals.scss';
.timeline-container {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.content {
  // width: 100%;
  // height: 100%;
  display: flex;
  justify-content: center;
  color: globals.$white;
  font-family: globals.$primary-font;
}
.empty {
  // width: 100%;
  // height: 100%;
}
.content:nth-child(4n+1) { // left content
  grid-column: 1 / span 4;
}
.empty:nth-child(4n+2) { // right empty
  grid-column: 6 / span 4;
}
.empty:nth-child(4n+3) { // left empty
  grid-column: 1 / span 4;
}
.content:nth-child(4n+4) { // right content
  grid-column: 6 / span 4;
}

.line {
  grid-column: 5;
  grid-row: 1 / -1;
  background-color: globals.$golden-brown;
  width: 100%;
  height: 100vh;
  position: relative;
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: globals.$golden-brown;
    position: absolute;
    left: -9px;
    transform: translateY(-50%);
  }
}